<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Destination</title>
        {% load staticfiles %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'travelapp/style.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div id="wrapper" class="container">
            <div id="topbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <h2>Welcome, {{ user.first_name }}</h2>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/travels"><button type="button" name="home" class="btn btn-default">Home</button></a></li>
                        <li><a href="/logout"><button type="button" name="logout" class="btn btn-default">Log Out</button></a></li>
                    </ul>
                </div>
            </div>
            <h2>{{ trip.destination }}</h2>
            <ul>
                <li>Planned by: {{ trip.User.first_name }} {{ trip.User.last_name }}</li>
                <li>Description: {{ trip.description }}</li>
                <li>Travel Date From: {{ trip.from_date }}</li>
                <li>Travel Date To: {{ trip.to_date }}</li>
            </ul>
            <h3>Other users joining the group:</h3>
            {% if guests %}
                <ul>
                    {% for guest in guests %}
                        <li>{{ guest.first_name }} {{ guest.last_name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No one is attending yet!</p>
            {% endif %}
            {% if not joined %}
                <h4><a href="/travels/destination/join/{{ trip.id }}"><button type="button" name="jointrip" class="btn btn-default">Join this trip!</button></a></h4>
            {% endif %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
