<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel Buddy</title>
        {% load staticfiles %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'travelapp/style.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div id="topbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <h2>Welcome, {{ user.first_name }}</h2>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><button type="button" name="logout" class="btn btn-default">Log Out</button></a></li>
                    </ul>
                </div>
            </div>
            <div id="yourtrips" class="container">
                <h3>Your Scheduled Trips</h3>
                {% if yourtrips or joinedtrips %}
                    <table class="table">
                        <thead>
                            <th>Destination</th>
                            <th>Travel Start Date</th>
                            <th>Travel End Date</th>
                            <th>Plan</th>
                        </thead>
                        {% for yourtrip in yourtrips %}
                            <tr>
                                <td><a href="/travels/destination/{{ yourtrip.id }}">{{ yourtrip.destination }}</a></td>
                                <td>{{ yourtrip.from_date }}</td>
                                <td>{{ yourtrip.to_date }}</td>
                                <td>{{ yourtrip.description }}</td>
                            </tr>
                        {% endfor %}
                        {% if joinedtrips %}
                            {% for joinedtrip in joinedtrips %}
                                <tr>
                                    <td><a href="/travels/destination/{{ joinedtrip.id }}">{{ joinedtrip.destination }}</a></td>
                                    <td>{{ joinedtrip.from_date }}</td>
                                    <td>{{ joinedtrip.to_date }}</td>
                                    <td>{{ joinedtrip.description }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                {% else %}
                    <h3><a href="/travels/add">You have no trips. Add one now!</a></h3>
                {% endif %}
            </div>
            <div id="trips" class="container">
                <h3>Other Users' Scheduled Trips</h3>
                {% if trips %}
                    <table class="table">
                        <thead>
                            <th>Organizer</th>
                            <th>Destination</th>
                            <th>Travel Start Date</th>
                            <th>Travel End Date</th>
                            <th>Plan</th>
                            <th>Join this trip?</th>
                        </thead>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.User.first_name }} {{ trip.User.last_name }}</td>
                                <td><a href="/travels/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                                <td>{{ trip.from_date }}</td>
                                <td>{{ trip.to_date }}</td>
                                <td>{{ trip.description }}</td>
                                <td><a href="travels/destination/join/{{ trip.id }}">Join this trip!</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <h5><a href="/travels/add"><button type="button" name="addtrip" class="btn btn-default">Add a Trip!</button></a></h5>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
